!DOCTYPE html>
<html>
<head>
    <title>CMPE 235 AD Tracking app</title>
    <style>
 
    a {
        color: blue;
    }
   
</style>
</head>
<body>
 
<h1>Android Ad Tracking app</h1>
<h2>Indroduction</h2>
<p>This project requires students to build mobile ad tracking prototype solution for mobile ad services to support advertisers to track and analyze posted mobile ads and their performance on mobile apps anywhere and anytime.</p>
<h2>What does the android app look like? <h2>
</body>
<h2> Graphs </h2>
<a href="http://www.w3schools.com" target="_blank">link_name</a> 
</html>
