<!DOCTYPE html>
<html>
<head>
    <title>CMPE 235 AD Tracking app</title>
    <style>
 
    a {
        color: blue;
      }
  body {
       background: url(<%= image_path 'paper.jpg' %>);
     }
   h1 { color: yellow }    
</style>
</head>
<body>
 
<h1>Android Ad Tracking app</h1>
<h2> Graphs </h2>
<a href="http://cmpe235project.herokuapp.com/advertisements" target="_blank">"Bar charts by events operations" </a> 
<a href="http://cmpe235project.herokuapp.com/advertisements/1" target="_blank>"Pie charts for Heat"</a>
<a href="http://cmpe235project.herokuapp.com/advertisements/2" target="_blank>"Pie charts for Warroirs"</a>
<a href="http://cmpe235project.herokuapp.com/events" target="_blank>"Events trackings"</a>
<a href="http://cmpe235project.herokuapp.com/events/sms" target="_blank>"SM"S</a>
<a href="http://cmpe235project.herokuapp.com/events/phone" target="_blank>"Phone"</a>
<a href="http://cmpe235project.herokuapp.com/events/map" target="_blank>"Map"</a>
</body>
</html>

