<!DOCTYPE html>
<html>
<head>
    <title>CMPE 235 AD Tracking app</title>
    <style>
 
    a {
        color: blue;
      }
  body {
       background-image: url('<%= path_to_image "whitepaper.jpg" %>');
     }
   h1 { color: blue };    
</style>
</head>
<body>
 
<h1>Welcome to Android Ad Tracking app</h1>
<h2> Graphs links  </h2>
<a href="http://cmpe235project.herokuapp.com/advertisements" target="_blank">Bar charts by events operations </a> <br/>
<a href="http://cmpe235project.herokuapp.com/advertisements/1" target="_blank">Pie charts for Heat</a> <br/>
<a href="http://cmpe235project.herokuapp.com/advertisements/2" target="_blank">Pie charts for Warriors</a> <br/>
<a href="http://cmpe235project.herokuapp.com/events" target="_blank">Events trackings</a> <br/>
<a href="http://cmpe235project.herokuapp.com/events/sms" target="_blank">SMS</a> <br/>
<a href="http://cmpe235project.herokuapp.com/events/phone" target="_blank">Phone</a> <br/>
<a href="http://cmpe235project.herokuapp.com/events/map" target="_blank">Map</a><br/>
</body>
</html>

