<!DOCTYPE html>

<html>
<head>
    <title>CMPE 235 AD Tracking app</title>
    <style>
 body{ color: purple;
    background-color: #d8da3d }

 }
  
    p{
             font-size: 20px;
     }

    a {
        color: blue;
    }
    h2 {
         color: blue
     }
</style>
</head>

<body>
 
<h1>Android Ad Tracking app</h1>
<h2>Indroduction</h2>

<p>This project requires students to build mobile ad tracking prototype solution for mobile ad services to support advertisers to track and analyze posted mobile ads and their performance on mobile apps anywhere and anytime.</p>

<h2>What does the android app look like? <h2>
<!--
<img border="0" src="/images/mainpage.jpg" alt="Pulpit rock" width="304" height="228">
<img border="0" src="/images/ADpage.jpg" alt="Pulpit rock" width="304" height="228">
-->
</body>

<h2> How to track and analyze the user information </h2>
<p>
   - Create databases to track all the events( click, phone call, SMS and so on)
   - Create a Ruby on Rails web service 
   - Use Heroku to host the RoR 
   - Track the event in the app and send the data to remote server Heroku
   
</p>
</html>
