<h1>Listing Map Events</h1>
 
<table>
  <tr>
    <th>Advertisement</th>
    <th>Address</th>
    <th>Timestamp</th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= Advertisement.find(event.advertisement_id).name %></td>
      <td><%= event.map_location %></td>
      <td><%= event.created_at %></td>
    </tr>
  <% end %>
</table>
